table{
    width: 80%;
    text-align: center;
    margin: 20px auto;
}
td{
    height: 40px;
}
#palit {
    margin: 20px;
    text-align: center;
}
div {
    display: flex;
    margin: 0 auto;
}
button {
    display: flex;
    margin: auto;
    margin-top: 10px;
}

body {
    display: grid;
    justify-items: center;
}